seed-node = seed.bearshares.com:3331       # riverhead


shared-file-size = 8G

enable-plugin = witness 

# name of account in quotes
witness = ""

# primary (no quotes required for keys, two slots for a primary and secondary)
private-key = 
# secondary
#private_key = 
